@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    color: #000;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.hero {
    /* border: 2px solid red; */
    /* width: 100%; */
    height: 100vh;
    position: relative;
    z-index: 0;
}

.hero .weather {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1rem;
    z-index: 999;
    /* background: #000; */
}

.hero .distance-airport {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    /* margin-bottom: 0.5rem; */
    background: none;
    width: 18rem;
    cursor: pointer;
}

.hero .distance-railway {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 5.2rem;
    background: none;
    width: 18rem;
    cursor: pointer;
}

.hero .visit-timing {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1rem;
    margin-top: 9.4rem;
    /* z-index: 999; */
    background: none;
    width: 18rem;
    cursor: pointer;
}

/* .hero .visit-timing .card,
.hero .distance-airport .card,
.hero .distance-railway .card {
    background: #000;
} */

.hero .card {
    box-shadow: 1px 4px 6px rgb(149, 149, 149);
    padding: 0rem 1rem;
    border-radius: 20px;
    border-radius: 20px;
}

.hero .left-group .card .card-body {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: -10px; */
    padding: 4px 0;

}

.hero .right-group .card .card-body {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: -10px; */
    padding: 4px 0;

}

.hero .card .card-body .card-icon {
    margin-right: .4rem;
}

.hero .card .card-body .card-icon .card-icon-img {
    width: 40px;
    height: 40px;
}

.hero .right-group .card .card-body .card-text .card-title {
    /* background: #000; */
    font-size: 14px;
}

.hero .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -1.8rem;
    background: none;
    z-index: 2;
}

.hero .main-text h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 180px;
    font-weight: lighter;
    color: #1e1e1e;
    background: none;
}

.hero .main-img {
    position: absolute;
    bottom: 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    mix-blend-mode: multiply;
    filter: contrast(1);
    z-index: 999;
    /* border: 2px solid red; */
    /* background: #8b8b8b; */
}

.hero .hill-img {
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    background: transparent;
}

/* for body */
.container-fluid article {
    /* background: #000; */
    /* border: 2px solid red; */
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-fluid article .body-hill {
    display: flex;
    justify-content: center;
    align-items: center;
}

article .card {
    /* background: #000; */
    border: none;
}

article .card .card-body {
    /* background: #000; */
    width: auto;
    margin: 0;
    display: flex;
    justify-content: left;
}

article .card .card-icon {
    width: auto;
}

article .card .card-icon .card-img-left {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
}

article .card .card-text {
    margin-left: 4rem;
    margin-top: 1.5rem;
    text-align: justify;
}

article .card .card-text .card-title {
    margin-bottom: 1.5rem;
}