@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    color: #000;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.hero {
    /* border: 2px solid red; */
    /* width: 100%; */
    height: 100vh;
    position: relative;
    z-index: 0;
}

.hero .right-group {
    display: flex;
}

.hero .weather {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    z-index: 999;
    /* background: #000; */
}

.hero .distance-airport {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    /* margin-bottom: 0.5rem; */
    background: none;
    width: 18rem;
    cursor: pointer;
}

.hero .distance-railway {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 5.2rem;
    background: none;
    width: 18rem;
    cursor: pointer;
}

.hero .visit-timing {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1rem;
    margin-top: 9.4rem;
    /* z-index: 999; */
    background: none;
    width: 18rem;
    cursor: pointer;
}

/* .hero .visit-timing .card,
.hero .distance-airport .card,
.hero .distance-railway .card {
    background: #000;
} */

.hero .card {
    box-shadow: 1px 4px 6px rgb(149, 149, 149);
    padding: 0rem 1rem;
    border-radius: 20px;
    border-radius: 20px;
}

.hero .left-group .card .card-body {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: -10px; */
    padding: 4px 0;

}

.hero .right-group .card .card-body {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: -10px; */
    padding: 4px 0;

}

.hero .card .card-body .card-icon {
    margin-right: .4rem;
}

.hero .card .card-body .card-icon .card-icon-img {
    width: 40px;
    height: 40px;
}

.hero .right-group .card .card-body .card-text .card-title {
    /* background: #000; */
    font-size: 14px;
}

.hero .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -1.8rem;
    background: none;
    z-index: 2;
}

.hero .main-text h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 180px;
    font-weight: lighter;
    color: #1e1e1e;
    background: none;
}

.hero .main-img {
    position: absolute;
    bottom: 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    mix-blend-mode: multiply;
    filter: contrast(1);
    z-index: 999;
    /* border: 2px solid red; */
    /* background: #8b8b8b; */
}

.hero .hill-img {
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    background: transparent;
}

/* for body */
.container-fluid article {
    /* background: #000; */
    /* border: 2px solid red; */
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-fluid article .body-hill {
    display: flex;
    justify-content: center;
    align-items: center;
}

article .body-hill .card {
    /* background: #000; */
    border: none;
    width: 80%;

}

article .body-hill .card .card-body {
    /* background: #000; */
    width: auto;
    margin: 0;
    display: flex;
    justify-content: left;
}

article .body-hill .card .card-icon {
    width: auto;
}

article .body-hill .card .card-icon .card-img-left {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
}

article .body-hill .card .card-text {
    margin-left: 4rem;
    margin-top: 1.5rem;
    text-align: justify;
}

article .body-hill .card .card-text .card-title {
    margin-bottom: 1.5rem;
}

article .top-place {
    margin-top: 2.6rem;
    /* display: block; */
}

article .top-place .card {
    border: none;
    /* background: none; */
}

article .top-place .card .card-header {
    /* background: none; */
    border: none;
    font-size: 32px;
}

article .top-place .card .card-body {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

article .top-place .card .card-body .inside-card .card-img-top {
    height: 16rem;
}

article .top-place .card .card-body .ghoom {
    width: 22rem;
    height: auto;

}

/* .ghoom .inside-card .card-body-inside .card-text{} */
article .top-place .card .card-body .inside-card {
    box-shadow: 3px 5px 8px gray;
    padding: 1rem;
    /* border: 1px solid red; */
    height: 38rem;
    /* overflow: auto; */
}

article .top-place .card .card-body .inside-card .card-body-inside {
    margin-top: 2rem;
    overflow-y: auto;
    text-align: justify;
    padding: 4px;
}

article .top-place .card .card-footer {
    margin-top: 3rem;
    background: none;
    border: none;
}

article .map-area {
    margin-top: 3rem;
}

article .map-area .card {
    border: none;
}

article .map-area .card .card-header {
    /* background: none; */
    border: none;
    font-size: 32px;
}

article .map-area .card .card-body {
    /* border: 2px solid red; */
    display: flex;
    justify-content: left;
    position: relative;
}

article .map-area .card .card-body iframe {
    /* border: 2px solid red; */
    margin-top: 1rem;
    width: 90%;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 2px 2px 8px gray;
    margin-left: 1rem;

}

article .map-area .card-body .hospital {
    position: absolute;
    top: 4rem;
    right: 2rem;
    padding: 10px;
    border-radius: 50%;
    z-index: 999;
    /* background: gray; */
    /* border: 2px solid silver; */
    box-shadow: 1px 1px 4px gray;
    cursor: pointer;
}

article .map-area .card-body .transport {
    position: absolute;
    top: 10rem;
    right: 2rem;
    padding: 10px;
    border-radius: 50%;
    z-index: 999;
    /* background: gray; */
    /* border: 2px solid silver; */
    box-shadow: 1px 1px 4px gray;
    cursor: pointer;
}

article .map-area .card-body .popular-store {
    position: absolute;
    top: 16rem;
    right: 2rem;
    padding: 10px;
    border-radius: 50%;
    z-index: 999;
    /* background: gray; */
    /* border: 2px solid silver; */
    box-shadow: 1px 1px 4px gray;
    cursor: pointer;
}

article .map-area .card-body .restaurent {
    position: absolute;
    top: 22rem;
    right: 2rem;
    padding: 10px;
    border-radius: 50%;
    z-index: 999;
    /* background: gray; */
    /* border: 2px solid silver; */
    box-shadow: 1px 1px 4px gray;
    cursor: pointer;
}

article .map-area .card-body .over-map-icon {
    height: 3.5rem;
    width: 3.5rem;
    padding: 2px;
    background: none;
}

article .user {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

article .user .card {
    border: none;
    margin-top: 2rem;
}

article .user .card .card-header {
    border: none;
    font-size: 32px;

}

article .user .card .card-body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 20px;

}

article .user .card .card-body .card .card-icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

article .user .card .card-body .card {
    display: flex;
    /* border: 2px solid red; */
    width: 80%;
    border-radius: 20px;
    box-shadow: 2px 2px 8px gray;

}

article .user .card .card-body .card .card-icon .card-img-left {
    /* display: flex; */
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;

}

article .user .card .card-body .card .card-text {
    padding: 4px;
}

article .user .card .card-body .card .card-text .card-text-inside {
    text-align: justify;
    margin-top: 1.6rem;
    color: gray;
}

abbr {
    cursor: pointer;
}

footer {
    width: auto;
    height: auto;
    background: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 1rem;
}

footer h4 {
    background: none;
    color: #fff;
    font-size: 22px;
}